@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --dashboard-background: 240 7% 12%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 1.5rem;

    --primary-hex: 67, 100%, 50%;

    --gray-b4: 65.88 0% 70.59%;
    --gray-e6: 65.88 0% 90.2%;

    --font-urbanist: "Urbanist", sans-serif;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --chart-1: 173 58% 39%;
    --chart-2: 12 76% 61%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .logo {
    & .logo-text {
      height: auto;
      width: 80px;
    }
  }

  .logo-symbol-wrapper {
    align-items: center;
    display: flex;
    height: 30px;
    position: relative;
    justify-content: center;
    width: 30px;

    & svg {
      display: inline-flex;
      height: 100% !important;
      left: 0;
      position: absolute;
      top: 0;
      width: 100% !important;

      & path {
        fill: #000;
      }
    }
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;
    --chart-5: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-2: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    .btn-fill.primary {
      @apply bg-primary-hex text-black;
    }

    .logo-symbol-wrapper {
      & svg {
        & path {
          fill: #e6ff00;
        }
      }
    }

    .logo {
      & .logo-text {
        height: auto;
        width: 80px;

        & path {
          fill: #fff;
        }
      }
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-urbanist);
  }

  .btn-fill {
    @apply rounded-full;
  }

  .btn-fill.primary {
    @apply bg-black text-white;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @media (max-width: 768px) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.react-datepicker {
  @apply border border-border rounded-lg shadow-lg font-sans;
}

.react-datepicker-wrapper {
  @apply w-full;
}

.react-datepicker__triangle {
  @apply dark:!fill-dashboard-background dark:!text-dashboard-background dark:!stroke-none;
}
.react-datepicker__header {
  @apply dark:bg-dashboard-background border-b border-border dark:text-white !rounded-t-lg;
}

.react-datepicker__header__dropdown {
  @apply my-4 flex justify-center gap-1;
}

.react-datepicker__header__dropdown select {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>');
  background-position: 90% center;
  background-size: 14px;
  background-repeat: no-repeat;
  @apply rounded-sm w-20 py-1 px-2 appearance-none;
}

.react-datepicker__header__dropdown
  .react-datepicker__month-dropdown-container--select,
.react-datepicker__header__dropdown
  .react-datepicker__year-dropdown-container--select {
  @apply m-0;
}

.react-datepicker__day-names .react-datepicker__day-name {
  @apply dark:text-white;
}

.dark .react-datepicker__header__dropdown select {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>');
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  @apply text-foreground;
}

.react-datepicker__navigation {
  @apply top-3 border-border;
}

.react-datepicker__navigation:hover {
  @apply border-foreground;
}

.react-datepicker__day {
  @apply dark:text-background hover:bg-accent;
}

.react-datepicker__day--selected {
  @apply dark:bg-background dark:!text-white bg-black hover:!bg-primary-hex hover:!text-black;
}

.react-datepicker__day--selected:focus,
.react-datepicker__day--selected:hover {
  @apply !bg-primary-hex !text-black;
}

.react-datepicker__day--keyboard-selected {
  @apply dark:bg-background dark:!text-white bg-black text-white;
}

.react-datepicker__day--keyboard-selected:focus,
.react-datepicker__day--keyboard-selected:hover {
  @apply bg-primary-hex text-black;
}

.react-datepicker-popper {
  z-index: 1000 !important;
}

.react-datepicker__month .react-datepicker__week:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}
